services:
  mongo:
    image: mongo:6.0
    container_name: gym-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db
    environment:
      MONGO_INITDB_DATABASE: gymdb
